{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<section id="register" class="register">
    <div class="max-width">
        <h2 class="title">Membership</h2>
        <div class="register-content centered-form">
            <div class="form-column">
                <div class="text">Register</div>
                <form method="POST" action="{{ url_for('register') }}">
                    <div class="fields">
                        <div class="field firstname">
                            <input type="text" name="first_name" placeholder="First Name" required>
                        </div>
                        <div class="field lastname">
                            <input type="text" name="last_name" placeholder="Last Name" required>
                        </div>
                    </div>
                    <div class="field username">
                        <input type="text" name="username" placeholder="Username" required>
                    </div>
                    <div class="field password">
                        <input type="password" name="password" placeholder="Password" required>
                    </div>
                   <div class="field email">
                        <input type="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="field textarea">
                        <textarea cols="30" rows="5" name="address" placeholder="Address"></textarea>
                    </div>
                    <div class="button-area">
                        <button type="submit">Register</button>
                        {% if flash_messages %}
                        <div class="flash-messages">
                            {% for message in flash_messages %}
                                <p class="flash">{{ message }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}


